<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/68d3125bee.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/../js/book.js" type="text/javascript"></script>
    <script src="/../js/author.js" type="text/javascript"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .header-div {
            width: 100%;
            height: 10%;
            float: left;
            border: 1px solid darkgrey;
            box-sizing: border-box;
        }

        .left-menu-div {
            width: 20%;
            height: 85%;
            float: left;
            border: 1px solid darkgrey;
            box-sizing: border-box;
        }

        .main-div {
            /*background: green;*/
            width: 80%;
            height: 85%;
            float: right;
            border: 1px solid darkgrey;
            box-sizing: border-box;
        }

        .footer-div {
            width: 100%;
            height: 5%;
            display: inline-block;
            border: 1px solid darkgrey;
            box-sizing: border-box;
        }

        .center-text {
            display: block;
            text-align: center;
        }
        .menu-link > img {
            width: 32px;
            height: 32px;
        }

    </style>
    <link rel="shortcut icon" href="/../images/book.png" th:href="@{images/book.png}" type="image/x-icon"/>
</head>
<body>
<div class="header-div">
    <h3 class="center-text">Добро пожаловать в библиотеку! Пожалуйста, соблюдайте тишину :)</h3>
</div>

<div class="left-menu-div">
    <div class="pure-menu" style=" display: inline-block;">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="books-menu-link" onclick="listBooks('main-container')">Книги</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="authors-menu-link" onclick="listAuthors('main-container')">Авторы</a></li>
        </ul>
    </div>
</div>
<div class="main-div" id="main-container"></div>
<div class="footer-div">
    <span class="center-text">Author: a.vinakov, otus spring 2019-11, all rights reserved</span>
</div>
<!--======================== TEMPLATES ==========================-->
<!--comment create form-->
<div id="create-comment-container" style="display: none; width: 500px">
    <form class="pure-form pure-form-aligned" id="create-comment-form">
        <input type="hidden" name="book">
        <fieldset>
            <div class="pure-control-group">
                <label for="rating">Оценка</label>
                <input id="rating"  type="text" pattern="^([1-5]){1}$" name="rating" placeholder="1-5" required>
            </div>
            <div class="pure-control-group">
                <label for="text">Комментарий</label>
                <input id="text" name="text" type="text" placeholder="Напишите что-нибудь о книге">
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>