<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
</head>
<body>
<h3 th:text="${message}">Объект не найден</h3>
</body>
</html>