<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="author : ${authors}" th:object="${author}">
        <td>[[${author.name}]]</td>
        <!--<td th:text="*{birthdayString}">01.01.1799</td>-->
        <!--<td th:text="*{name}">Пушкин Александр Сергеевич</td>-->
        <!--<td th:text="*{birthdayString}">01.01.1799</td>-->
    </tr>
    </tbody>
</table>

</body>
</html>