.table-container {
    width: 70%;
}
.book-table {
    border-collapse: collapse;
}
.book-table th {
    text-align: left;
    padding-left: 10px;
}
.book-table tr {
    border-bottom: 1px solid #ccc;
}
.book-table td {
    padding: 10px;
    height: 30px;
}
.name-column {
    min-width: 25%;
}
.description-column {

}
.author-column {
    min-width: 25%;
}
.genre-column {
    min-width: 15%;
}
.add-book-button {
    float: right;
    margin-top: 10px;
}