<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="shortcut icon" href="/../images/book.png" th:href="@{images/book.png}" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/../css/index.css">
</head>
<body>
<div class="header-div">
    <h3 class="center-text">Добро пожаловать в библиотеку! Пожалуйста, соблюдайте тишину :)</h3>
</div>
<div class="left-menu-div">
    <ul>
        <li style="list-style: none">
            <a th:href="@{/book/list}" href="book/view-books.html" class="menu-link">
                <img src="../static/images/book.png" th:src="@{images/book.png}" alt="book_icon">
                <span>Книги</span>
            </a>
        </li>
        <li style="list-style: none">
            <a th:href="@{/author/list}" href="author/view-all.html" class="menu-link">
                <img src="../static/images/people.png" th:src="@{images/people.png}" alt="author_icon">
                <span>Авторы</span>
            </a>
        </li>
        <!--<li><a th:href="@{/genre/list}" href="genre/view-all.html"><span>Жанры</span></a></li>-->
    </ul>
</div>
<div class="main-div"></div>
<div class="footer-div">
    <span class="center-text">Author: a.vinakov, otus spring 2019-11, all rights reserved</span>
</div>
</body>
</html>