<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
    <style>
        .form-container {
            width: 600px;
            margin-left: 50px;
            margin-top: 20px;
            /*border: 1px solid darkgrey;*/
        }
        .form {}

        .form-field {
            width: 100%;
            display: block;
            height: 30px;
            padding-top: 10px;
        }

        .form-field label {
            display: block;
            width: 100px;
            text-align: right;
            float: left;
            height: 100%;
        }

        .form-field input, select {
            margin-left: 10px;
            width: 480px;
        }
    </style>
</head>
<body>
<div class="form-container">
    <form class="form" action="#" th:action="@{/book/save}" method="post" th:object="${book}">
        <input id="id-field" type="hidden" th:field="*{id}">
        <div class="form-field">
            <label>Название:</label>
            <input type="text" th:field="*{name}" required>
        </div>
        <div class="form-field">
            <label>Описание:</label>
            <input type="text" th:field="*{annotation}" required>
        </div>
        <div class="form-field">
            <label>Автор:</label>
            <select th:field="*{author}" required>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
        </div>
        <div class="form-field">
            <label>Жанр:</label>
            <select th:field="*{genre}" required>
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
        </div>
        <div style="float: right;">
            <input type="submit" value="Сохранить">
            <input type="reset" value="Отмена" onclick="location.href = '/book/list'">
        </div>
    </form>
</div>
</body>
</html>