<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Жанры</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}" th:object="${genre}">
        <td th:text="*{name}">Фантастика</td>
    </tr>
    </tbody>
</table>

</body>
</html>