<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
    <link rel="stylesheet" type="text/css" href="/../css/book/edit.css">
</head>
<body>
<div class="form-container">
    <form class="form" action="#" th:action="@{/book/save}" method="post" th:object="${book}">
        <input id="id-field" type="hidden" th:field="*{id}">
        <div class="form-field">
            <label>Название:</label>
            <input type="text" th:field="*{name}" required>
        </div>
        <div class="form-field">
            <label>Описание:</label>
            <input type="text" th:field="*{annotation}" required>
        </div>
        <div class="form-field">
            <label>Автор:</label>
            <select th:field="*{author}" required>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
        </div>
        <div class="form-field">
            <label>Жанр:</label>
            <select th:field="*{genre}" required>
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
        </div>
        <div style="float: right;">
            <input type="submit" value="Сохранить">
            <input type="reset" value="Отмена" onclick="location.href = '/book/list'">
        </div>
    </form>
</div>
</body>
</html>