<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" type="text/css" href="/../css/book/view-all.css">
    <style>

    </style>
</head>
<body>
<div class="table-container">
    <table class="book-table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Жанр</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" th:object="${book}">
            <td class="name-column"><a th:href="@{/book/details/__${book.id}__}" th:text="*{name}">Евгений Онегин</a></td>
            <td th:text="*{annotation}" class="description-column">«Евгений Онегин» — роман в стихах русского поэта Александра Сергеевича Пушкина, написанный в 1823—1830 годах</td>
            <td th:text="*{genre.name}" class="genre-column">Роман</td>
            <td class="author-column" th:text="*{author.name}">Александр Сергеевич Пушкин</td>
        </tr>
        </tbody>
    </table>
    <button onclick="location.href = '/book/create'" class="add-book-button">Добавить книгу</button>
</div>
</body>
</html>