.form-container {
    width: 600px;
    margin-left: 50px;
    margin-top: 20px;
    /*border: 1px solid darkgrey;*/
}
.form {}

.form-field {
    width: 100%;
    display: block;
    height: 30px;
    padding-top: 10px;
}

.form-field label {
    display: block;
    width: 100px;
    text-align: right;
    float: left;
    height: 100%;
}

.form-field input, select {
    margin-left: 10px;
    width: 480px;
}