.form {
    width: 600px;
    margin-left: 50px;
    margin-top: 20px;
}

.field {
    width: 100%;
    display: inline-block;
    /*height: 30px;*/
    padding-top: 10px;
}

.field label {
    display: block;
    float: left;
    /*border-bottom: 1px solid;*/
    margin-top: 10px;
    width: 100px;
}

.field span {
    display: block;
    float: right;
    margin-top: 6px;
    width: 500px;
}
.comment {
    margin-top: 15px;
    width: 300px;
}