html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.header-div {
    width: 100%;
    height: 10%;
    float: left;
    border: 1px solid darkgrey;
    box-sizing: border-box;
}

.left-menu-div {
    width: 20%;
    height: 85%;
    float: left;
    border: 1px solid darkgrey;
    box-sizing: border-box;
}

.main-div {
    /*background: green;*/
    width: 80%;
    height: 85%;
    float: right;
    border: 1px solid darkgrey;
    box-sizing: border-box;
}

.footer-div {
    width: 100%;
    height: 5%;
    display: inline-block;
    border: 1px solid darkgrey;
    box-sizing: border-box;
}

.center-text {
    display: block;
    text-align: center;
}
.menu-link > img {
    width: 32px;
    height: 32px;
}