<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр книги</title>
    <script
            src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/../static/css/book/view.css">
</head>
<body>
<div>
    <a href="/book/list"><span><< К списку книг</span></a>
</div>
<div class="form" th:object="${book}">
    <input id="id-field" type="hidden" th:value="*{id}">
    <div class="field">
        <label>Название</label>
        <span th:text="*{name}">Евгений Онегин</span>
    </div>
    <div class="field">
        <label>Описание</label>
        <span th:text="*{annotation}"></span>
    </div>
    <div class="field">
        <label>Автор</label>
        <span th:text="*{author.name}">Пушкин Александр Сергеевич</span>
    </div>
    <div class="field">
        <label>Жанр</label>
        <span th:text="*{genre.name}">Роман</span>
    </div>
    <div class="field">
        <label>Рейтинг</label>
        <span th:text="${rating}">5</span>
        <!--попытки форматировать рейтинг тут, не увенчались успехом-->
        <!--<span th:text="${numbers.formatDecimal(${book.rating}, 0, 1)}">5</span>-->
    </div>
    <div>
        <button onclick="location.href='/book/edit/' + document.getElementById('id-field').value">Редактировать</button>
        <button onclick="if (confirm('Вы действительно хотите удалить книгу?')) location.href = '/book/delete/' + document.getElementById('id-field').value">
            Удалить
        </button>
    </div>
</div>
<div>
    <span>Комментарии</span>
    <ul>
        <li th:each="comment : ${comments}" th:object="${comment}" class="comment">
            <span th:text="'Оценка: ' + *{rating}">Оценка: 5.0</span>
            <span th:text="*{createdString}" style="float: right;">01.01.2000</span>
            <div th:text="*{text}">Текст комментария</div>
        </li>
    </ul>
    <button onclick="location.href='/comment/create?book=' + document.getElementById('id-field').value">Добавить комментарий</button>
</div>
</body>
</html>